<a href="https://colab.research.google.com/github/jgvroallos/OOP-CPE009B-CPE21S4/blob/main/Python_Classes_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Classes & Creating Instances of Classes

In [1]:
class Accounts():
  account_number = 0
  account_firstname = ""
  account_lastname = ""
  current_balance = 0.0
  address = ""
  email = ""

  def update_address(new_address):
    Accounts.address = new_address

  def update_email(new_email):
    Accounts.email = new_email

In [2]:
class ATM():
  serial_number = 0

  def deposit(self, account, amount):
    account.current_balance = account.current_balance + amount
    print("Deposit Complete.")

  def withdraw(self, account, amount):
    account.current_balance = account.current_balance - amount
    print("Withdraw Complete.")

  def check_currentbalance(self, account):
    print(account.current_balance)

In [16]:
Account1 = Accounts()

print("Account 1")
Account1.account_firstname = "Royce"
Account1.account_lastname = "Chua"
Account1.current_balance = 1000
Account1.address = "Silver Street Quezon City"
Account1.email = "roycechua123@gmail.com"

print(Account1.account_firstname)
print(Account1.account_lastname)
print(Account1.current_balance)
print(Account1.address)
print(Account1.email)

print()

Account2 = Accounts()
Account2.account_firstname = "John"
Account2.account_lastname = "Doe"
Account2.current_balance = 2000
Account2.address = "Gold Street Quezon City"
Account2.email = "johndoe@yahoo.com"

print("Account 2")
print(Account2.account_firstname)
print(Account2.account_lastname)
print(Account2.current_balance)
print(Account2.address)
print(Account2.email)

Account 1
Royce
Chua
1000
Silver Street Quezon City
roycechua123@gmail.com

Account 2
John
Doe
2000
Gold Street Quezon City
johndoe@yahoo.com

In [17]:
ATM1 = ATM()
ATM1.deposit(Account1, 500)
ATM1.check_currentbalance(Account1)

ATM1.deposit(Account2, 300)
ATM1.check_currentbalance(Account2)

Deposit Complete.
1500
Deposit Complete.
2300

# Creating Constructors in each Class

In [18]:
class Accounts():
  def __init__(self, account_number, account_firstname, account_lastname,
               current_balance, address, email):
    self.account_number = account_number
    self.account_firstname = account_firstname
    self.account_lastname = account_lastname
    self.current_balance = current_balance
    self.address = address
    self.email = email

  def update_address(new_address):
    Accounts.address = new_address

  def update_email(new_email):
    Accounts.email = new_email

In [20]:
Account1 = Accounts(123456, "Royce", "Chua", 1000, "Silver Street Quezon City",
                    "roycechua123@gmail.com")

print("Account 1")
print(Account1.account_firstname)
print(Account1.account_lastname)
print(Account1.current_balance)
print(Account1.address)
print(Account1.email)

print()

Account2 = Accounts(654321, "John", "Doe", 2000, "Gold Street Quezon City",
                    "johndoe@yahoo.com")

print("Account 2")
print(Account2.account_firstname)
print(Account2.account_lastname)
print(Account2.current_balance)
print(Account2.address)
print(Account2.email)

Account 1
Royce
Chua
1000
Silver Street Quezon City
roycechua123@gmail.com

Account 2
John
Doe
2000
Gold Street Quezon City
johndoe@yahoo.com

# Supplementary Activities

*Modify the ATM.py program and add the constructor function.*

In [32]:
class ATM():
    def __init__(self, serial_number):
      self.serial_number = serial_number

    def deposit(self, account, amount):
      account.current_balance = account.current_balance + amount
      print("Deposit Complete.")

    def withdraw(self, account, amount):
      account.current_balance = account.current_balance - amount
      print("Withdraw Complete.")

    def check_currentbalance(self, account):
      print(account.current_balance)

    def check_serialnumber(self, account):
      print(self.serial_number)

In [36]:
Account1 = Accounts(123456, "Royce", "Chua", 1000, "Silver Street Quezon City",
                    "roycechua123@gmail.com")

print("Account 1")
print(Account1.account_firstname)
print(Account1.account_lastname)
print(Account1.current_balance)
print(Account1.address)
print(Account1.email)

print()

Account2 = Accounts(654321, "John", "Doe", 2000, "Gold Street Quezon City",
                    "johndoe@yahoo.com")

print("Account 2")
print(Account2.account_firstname)
print(Account2.account_lastname)
print(Account2.current_balance)
print(Account2.address)
print(Account2.email)

Account 1
Royce
Chua
1000
Silver Street Quezon City
roycechua123@gmail.com

Account 2
John
Doe
2000
Gold Street Quezon City
johndoe@yahoo.com

*Modify the main.py program and initialize the ATM machine with any integer serial number combination and display the serial number at the end of the program.*

In [40]:
ATM1 = ATM(11111)
ATM2 = ATM(22222)

ATM1.deposit(Account1, 500)
ATM1.check_currentbalance(Account1)
ATM1.check_serialnumber()

print()

ATM2.deposit(Account2, 300)
ATM2.check_currentbalance(Account2)
ATM2.check_serialnumber()

Deposit Complete.
3000
11111

Deposit Complete.
2900
22222